{{ 'sidebar.css' | asset_url | stylesheet_tag }}

 <div class="sidenav-container">
  <div class="sidenav-header">
 	<h1>{{collection.title}}</h1>
  </div>
  	<nav class="navigation">
      <ul class="mainmenu">
        {%- for link in linklists.side-navigation.links -%}
        <li><a href="{{link.url}}">{{ link.title | escape }}</a>
        {% if linklists[link.handle].links.size > 0 %}
        <ul>
          {% for sublink in linklists.[link.handle].links %}
          <li><a href="{{ sublink.url }}">{{ sublink.title | escape }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
</div>
