{%- assign force_secondary_background = true -%}

<div class="page__content-wrapper">
  <div class="container">
    <div class="page__header">
      <h1 class="page__title h1">{{ 'customer.register.title' | t }}</h1>
    </div>

    <div class="box box--mini">
      <div class="box__content box__content--large-padding box__content--centered">
        {%- form 'create_customer', class: 'form form--shrinked' -%}
          <p class="form__instructions">{{ 'customer.register.instructions' | t }}</p>

          {%- if form.errors -%}
            <div class="alert alert--error">
              <span class="alert__title">{{ 'general.forms.errors' | t }}</span>
              {%- include 'form-errors' -%}
            </div>
          {%- endif -%}

          <div class="form__control">
            <input aria-label="{{ 'customer.register.first_name' | t }}" type="text" class="form__input" name="customer[first_name]" placeholder="{{ 'customer.register.first_name' | t }}">
          </div>

          <div class="form__control">
            <input aria-label="{{ 'customer.register.last_name' | t }}" type="text" class="form__input" name="customer[last_name]" placeholder="{{ 'customer.register.last_name' | t }}">
          </div>

          <div class="form__control">
            <input aria-label="{{ 'customer.register.email' | t }}" type="email" class="form__input" name="customer[email]" required="required" placeholder="{{ 'customer.register.email' | t }}">
          </div>

          <div class="form__control">
            <input aria-label="{{ 'customer.register.password' | t }}" type="password" class="form__input" name="customer[password]" required="required" placeholder="{{ 'customer.register.password' | t }}">
          </div>

          <div class="box__button-wrapper button-wrapper">
            <button type="submit" class="button button--enforce-min-width button--primary">{{ 'customer.register.submit' | t }}</button>
          </div>
        {%- endform -%}
      </div>
    </div>
  </div>
</div>