{%- assign force_secondary_background = true -%}
{{ 'collection-filter.css' | asset_url | stylesheet_tag }}]
{{ 'product_filter.js' | asset_url | script_tag }}
<!-- swatchesfiltered used to be here
 -->
{{ 'handlebars-v4.0.5.js' | asset_url | script_tag }}

<style>

/*   for crib colleciton page  */
  #crib-paragraph{
    padding-top: 50px;
    color:#1a3d6e !important;
  }
  /*for overlap of filters*/
  ul#collectionGrid{
    position: relative;
    top: -50px;
    padding-bottom: 90px;
  }
  #filtersWrap{
    position: relative;
    padding-bottom: 20px;
    background-color: white;
  }
  #filtersWrap h3{
    margin-bottom: 0;
    float: left;
}
  #collectionGrid .details{
   margin-top: 15px !important;
  }


 #mainFilterContainer{
   visibility: hidden;
   position: absolute;
   display: flex;
   /* left: 350px; */
   left: 254px;
   margin-top: 10px;
  }
  .js-collection-filter{
    padding-left: 0;
  }
  div#noFilterMainContainer.products.cards{
    z-index: 0;
  }
  .details{
   padding-top: 0 !important;
  }
  .prod-price{
    display: block;
  }

 /*SWATCH RELATED*/
 .swatchAreaContainer {
   padding-top: 10px;
 }

  @media screen and (min-width: 641px) {

    .cards .card.fixed-image-height .image{
      height: auto!important;
    }
    .detailsHB{
      width: 100%;
      /*padding-top: 10px;*/
    }
}

  /*end overlap styling*/

  ul#append { padding-top: 3%; }

  /*for iPads, etc. */
  @media screen and (max-width: 1024px) and (min-width: 641px) {
    #filtersWrap{
      padding-bottom: 80px;
    }
    #filterList{
      width: auto;
    }
    form h6{
      width: auto;
    }
  }
  /*for mobile devices*/
  @media only screen and (max-device-width: 640px) {
form.js-collection-filter{
  width: 50%;
}

#site-body h6{
  margin-bottom: 0;
}
#filterList{
top: 0;
}
#sort{
  position: absolute !important;
  top: 0;
  right: 0;
}
#filtersWrap{
  padding-bottom: 0;
}

ul#collectionGrid{
  margin: 0 !important;
}
    .filteredProduct{
  flex: none;
}
.cards .card.fixed-image-height .image{
  height: auto !important;
}
.details{
   padding-top: 0 !important;
  }
}
/*iphone 5 styling*/
@media only screen and (max-device-width: 320px) {
  #filtersWrap{
    padding-bottom: 20px;
  }

  #detailsHB {

    width: 100%;
  }

 .filteredProduct{
  flex: none;
}

}
</style>

{%if collection.handle == "jeep-strollers"%}
<style>
@media screen and (max-width: 460px) {
  #jeep-strollers.hero_img_holder{
    display: none;
  }
  #mainFilterContainer #sort{
    top: 0 !important;
  }
  #template-filtered-products #append{
    bottom: 0 !important;
  }
}

</style>
{%endif%}

{%if collection.handle == "strollers"%}
<style>
  @media screen and (max-width: 460px) {
#strollers.hero_img_holder .hero_image{
  display: block !important;
  }
    #sort{
      top: -20px !important;
      bottom: 0 !important;
      left: 0 !important;
      width: 50% !important;
    }
    #template-filtered-products #append{
      padding-top: 10% !important;
      bottom: 0 !important;
  }
    #noFilterMainContainer{
      top: -60px !important;
  }
  }



</style>
{%endif%}



<!-- {%- assign force_secondary_background = true -%} -->

<!-- {%include "nav-collection"%} -->


{% assign has_crumbs = true %}

{% if settings.collection_display_browse? %}
  {% include 'collection-tag-filter' %}
{% endif %}

{% if collection.description and collection.description.size > 0 %}
  <!-- <div id="borderTest">
    <div id="bannerImage" class="collection-description">
      {{ collection.description }}
  </div>
</div> -->
{% endif %}

{% if collection.handle != 'guardrails' and collection.handle != 'full-size-bed-rails' %}
  {% include "nav-collection" %}
  {% endif %}

{% if collection.handle == 'guardrails' or collection.handle == 'full-size-bed-rails' %}
  {% include 'guardrail-data-tables' %}
{%endif%}

<div class="hero_img_holder" id={{collection.handle}}>
  <div class="hero_image">
  </div>
</div>

{%if collection.handle == 'value'%}
  {%include 'mattress-bv'%}
{%elsif collection.handle == 'luxury'%}
  {%include 'mattress-el'%}
{%elsif collection.handle == 'natural'%}
  {%include 'mattress-nc'%}
{%endif%}

{% unless collection.handle == 'guardrails' or collection.handle == "full-size-bed-rails" %}

{% comment %}RENDER FILTERS{% endcomment %}
<div id="filtersWrap" style="margin-top: 150px;">
  <div>
    <h3>Filters</h3>
    <div id="customLoader"></div>
  </div>
  <div id="mainFilterContainer" class="{{collection.handle}}">
    {% include 'custom_filter'%}
    <div id="sort" class="M_SM_Sort">
      <label for="sort-by" style="font-size: 83%; color: #0e2f63; padding-right: 8px; font-family: 'Gotham Bold';">Sort by:</label>
      <select id="sort-by">
        <option id="select" value="manual">Select</option>
        <option name="price-ascending" value="All">Price: Low to High</option>
        <option name="price-descending" value="All">Price: High to Low</option>
        <!-- <option name="title-ascending" value="All">A-Z</option>
        <option name="title-descending" value="All">Z-A</option>
        <option name="created-ascending" value="All">Oldest to Newest</option>
        <option name="created-descending" value="All">Newest to Oldest</option>
        <option name="best-selling" value="All">Best Selling</option> -->
      </select>
    </div>
  </div>
</div>





{% comment %}HANDLEBARS TEMPLATE FOR FILTERED PRODUCTS INSIDE OF GRID LAYOUT{% endcomment %}
<div class="products cards {{collection.handle}}" id="list-template-collection">
    <ul id="append" class="append">
      <script id='template-src' type="text/template" >
        {% raw %}
          <li class="filteredProduct product-container" id="{{id}}" data-name="{{title}}" data-price="{{price}}" data-category="{{category}}" data-allTags="{{allTags}}" data-tag="{{tag}}" style="list-style:none;">

            <div class="product card fixed-image-height">
              <article>
                <div class="image-wrap">
                  <div class="<imag></imag>e">
                    <a href="https://www.deltachildren.com/products/{{handle}}" class="mainHref">
                      <img id="imageHB" class="imgHB mainImg" src="{{img}}"/>
                    </a>
                  </div>
                  <div class="varImages" id="{{varTitle1}}" style="display: none;">
                    <a href="{{var_url1}}">
                      <img id="imageHB" class="imgHB" src="{{img1}}"/>
                    </a>
                  </div>
                  <div class="varImages" id="{{varTitle2}}" style="display: none;">
                    <a href="{{var_url2}}">
                      <img id="imageHB" class="imgHB" src="{{img2}}"/>
                    </a>
                  </div>
                  <div class="varImages" id="{{varTitle3}}" style="display: none;">
                    <a href="{{var_url3}}">
                      <img id="imageHB" class="imgHB" src="{{img3}}"/>
                    </a>
                  </div>
                  <div class="varImages" id="{{varTitle4}}" style="display: none;">
                    <a href="{{var_url4}}">
                      <img id="imageHB" class="imgHB" src="{{img4}}"/>
                    </a>
                  </div>
                  <div class="varImages" id="{{varTitle5}}" style="display: none;">
                    <a href="{{var_url5}}">
                      <img id="imageHB" class="imgHB" src="{{img5}}"/>
                    </a>
                  </div>
                  <div class="varImages" id="{{varTitle6}}" style="display: none;">
                    <a href="{{var_url6}}">
                      <img id="imageHB" class="imgHB" src="{{img6}}"/>
                    </a>
                  </div>
                </div>

                <div id="detailsHB" class="detailsHB">
                  <h4 class="vendor">
                    <a href="https://www.deltachildren.com/collections/vendors?q={{handle}}">{{vendor}}</a>
                  </h4>
                    <h2>
                      <a href="https://www.deltachildren.com/products/{{handle}}" title={{title}}>
                        <span class="name">{{title}}</span>
                      </a>
                    </h2>
                  <div class="prod-price">${{price}}</div>
                </div>
                <!-- <img src="https://s3-us-west-2.amazonaws.com/swatchify-static.sellerpanda.com/swatches/delta-children/Color/Rustic-Bianca-11702.png" /> -->

                <!-- swatches -->
                <div class="swatchAreaContainer">
                  <div class="filterSwatches">
                    <div class="color-swatch-template"><img src="{{color_src1}}" /></div>
                    <div class="color-swatch-template"><img src="{{color_src2}}" /></div>
                    <div class="color-swatch-template"><img src="{{color_src3}}" /></div>
                    <div class="color-swatch-template"><img src="{{color_src4}}" /></div>
                    <div class="color-swatch-template"><img src="{{color_src5}}" /></div>
                    <div class="color-swatch-template"><img src="{{color_src6}}" /></div>


                    <!-- <div class="moreSwatches">
                      <a href="https://www.deltachildren.com/products/{{handle}}" style="color: #4e4949;">
                        <h1>{{swatchOverFour}}</h1>
                      </a>
                    </div> -->
                  </div>
                </div>
                  <!-- <div class="swatchCount">
                    <a href="{{product_url}}" style="color: #4e4949;">
                      <div class="moreSwatches"><h1>{{swatchOverFour}}</h1></div>
                    </a>
                  </div> -->

                <!-- end swatches -->


              </article>
            </div>
          </li>
        {% endraw %}
      </script>
    </ul>
</div>

{%endunless%}




<!-- template for filtering -->
{%- section 'collection-template' -%}
<!-- {% include 'pagination' %} -->


<!-- replace this -->
<script>


$('#mainFilterContainer').ready(function() {

  setTimeout(function() {

    $('#mainFilterContainer').css({visibility: 'visible'});


    $('.details').css('visibility', 'visible');

  }, 1);

});

$('#mainFilterContainer').ready(function() {

  setTimeout(function() {

    $('.panda-swatches-coll-cont').css({visibility: 'visible'});

//     $('.panda-swatches-coll-cont .panda-swatch-coll').css({height: '32px', width: '32px'})

  }, 3000);

});

$('#mainFilterContainer').each(function() {

  if ($(window).width() < 641) {

    if ($('form', this).length == 2) {

      $('#sort').css({top:'-15px'});

    }

  }

});

  //temp patch for filters/swatches bug affect Cribs and Dressers and Changers collections 9/8/17

// 	$('.products.cribs').hide();
//   $('.products.cribs').prev().hide();
//   $('#noFilterMainContainer.cribs').show();
//   $('#noFilterMainContainer.cribs').css({
//     'position': 'relative',
//     'top': '60px'
//   });

//   $('.products.dressers-and-changers').hide();
//   $('.products.dressers-and-changers').prev().hide();
//   $('#noFilterMainContainer.dressers-and-changers').show();
//   $('#noFilterMainContainer.dressers-and-changers').css({
//     'position': 'relative',
//     'top': '60px'
//   });





</script>
